@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .textarea {
        @apply border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
    }
}

@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

    input[type='text'] {
        @apply border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
    }

    select {
        @apply border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
    }

    label {
        @apply text-sm font-medium text-gray-700;
    }
}

@property --var1 {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}

@keyframes fadeIn {
    0% {
        --var1: white;
    }

    100% {
        --var1: #aaa;
    }
}

@keyframes fadeOut {
    0% {
        --var1: #aaa;
    }

    100% {
        --var1: white;
    }
}

.styled-scrollbars {
    overflow-y: scroll;
    animation: fadeOut .5s ease-in-out forwards;
}

.styled-scrollbars:hover {
    animation: fadeIn .5s ease-in-out forwards;
}

.styled-scrollbars::-webkit-scrollbar {
    background: white;
    width: 8px;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    background: var(--var1);
    border-radius: 4px;
}

.ellipsis-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    direction: rtl;
}

.ellipsis-left::before {
    content: "...";
    display: inline-block;
    direction: ltr;
}
